body{
    background-color: azure;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    text-align: center;
    
}

label{
    display: block;
    cursor: pointer;
    
}

input{
    background-color: azure;
    border: none;
}

h1{
    padding-top: 20px;
}

#container{
    width: 400px;
    height: 300px;
    background-color: rgba(0, 68, 255, 0.3);
    -webkit-webkit: border radius 10px;
    -moz-webkit: border radius 10px;
    -ms-webkit: border radius 10px;
    -o-webkit: border radius 10px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
    padding-top: 20px;
}

